{
	"openapi": "3.1.0",
	"info": {
		"title": "Hypersender SMS API Docs",
		"version": "v1.0",
		"description": "Send and receive sms messages, with Hypersender SMS API. This Documentation provides a comprehensive guide to the API, including detailed information on how to send and receive sms messages, controll message threads, and monitor phone heartbeats.\n\n**How it works**\n\nTo use the API, you need to have the Hypersender app installed on your android phone. The app will receive the messages and send them to the recipient.\n\n**Download the app**\n\nYou can download it from the release page on [github](https://github.com/hypersender/sms-app-releases/releases).\n\n**How to use the app**\n\n- Download the app from the release page.\n\n- Install the app on your android phone.\n\n- Grant the app the necessary permissions, see the [permissions](https://docs.hypersender.com/docs/hypersender/overview/sms-quick-start#step-4-download-the-hypersender-sms-app), section for more information.\n\n- Open the app, and scan the QR code to link the app with the API.\n\n- The app will start receiving messages, and then send them to the recipient.\n\n\n<hr />\n\n**Quick Demo**\n\n  **Learn how to use Hypersender SMS API to send a message using Postman:**\n  [Demo Link](https://app.hypersender.com/send-sms-message-in-postman) **to easily interact with our API.**\n\n<hr />\n\n**postman collection**\n\nYou can download our [Postman Collection](https://docs.hypersender.com/sms-postman-collection.json) to easily interact with our API."
	},
	"servers": [
		{
			"url": "https://app.hypersender.com/api/sms/v1",
			"description": "Production"
		}
	],
	"paths": {
		"/{instance}/send-message": {
			"post": {
				"x-hidden": true,
				"tags": ["Messages"],
				"summary": "Send Message",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"x-examples": {
									"Example 1": {
										"content": "test send message",
										"request_id": "133554b5-ae44-44a0-8f4f-7bbac5657a11",
										"to": "+201122061032",
										"schedule_send_at": "2025-01-08 19:47:00",
										"max_send_attempts": 10,
										"message_expiration_seconds": 100
									}
								},
								"properties": {
									"content": {
										"type": "string",
										"description": "The content of your SMS message, keep it short and sweet because sms messages done like to be short!"
									},
									"request_id": {
										"type": "string",
										"description": "any string preferably uuid that you can use later to find this message. "
									},
									"to": {
										"type": "string",
										"description": "phone number that you want to send the message to.\nMake sure that it start with + and have country code example: +203123131313"
									},
									"schedule_send_at": {
										"type": "string",
										"description": "optional date in the future max: 3 days that the message will be sent Relative to your defined Timezone! Example: 2025-01-08 19:47:00"
									},
									"max_send_attempts": {
										"type": "integer",
										"description": "How many times I should retry sending this message when it fails to be sent, Max: 15 times."
									},
									"message_expiration_seconds": {
										"type": "integer",
										"description": "How many seconds this message is valid for, this is usefull when you are sending OTPs with expiration of 2 mins. "
									}
								},
								"required": ["content", "to"]
							},
							"examples": {
								"Example 1": {
									"value": {
										"content": "v",
										"request_id": "133554b5-ae44-44a0-8f4f-7bbac5657a11",
										"to": "+1119122018"
									}
								}
							}
						}
					}
				},
				"parameters": [
					{
						"name": "instance",
						"in": "path",
						"description": "Instance UUID copied from hypersender dashboard",
						"required": true,
						"schema": {
							"type": "string",
							"example": "{{ instance_id }}"
						},
						"examples": {
							"default": {
								"value": "{{ instance_id }}"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Message"
								},
								"examples": {
									"Example 1": {
										"value": {
											"id": "string",
											"request_id": "string",
											"phone": {
												"id": "string",
												"user_id": "string",
												"phone_number": "string",
												"name": "string",
												"sim": "string",
												"max_send_attempts": 0,
												"message_expiration_seconds": 0,
												"missed_call_auto_reply_message": null,
												"is_online": true,
												"last_online_at": "string",
												"last_offline_at": "string",
												"last_message_at": "string",
												"last_missed_call_at": "string",
												"last_heartbeat_at": "string",
												"heartbeat_enabled_at": null,
												"timezone": "string",
												"created_at": "string",
												"updated_at": "string"
											},
											"message_thread": {
												"id": "string",
												"phone_id": "string",
												"last_message_id": "string",
												"from_phone_number": "string",
												"to_phone_number": "string",
												"is_archived": true,
												"last_message_content": "string",
												"last_message_at": "string",
												"created_at": "string",
												"updated_at": "string"
											},
											"message_thread_id": "string",
											"phone_id": "string",
											"from_phone_number": "string",
											"to_phone_number": "string",
											"content": "string",
											"send_duration": null,
											"schedule_on_phone_at": null,
											"sent_at": null,
											"last_attempted_at": null,
											"delivered_at": null,
											"received_at": "string",
											"expired_at": null,
											"schedule_send_at": null,
											"failed_at": null,
											"send_attempt_count": 0,
											"max_send_attempts": 0,
											"failure_reason": null,
											"message_expiration_seconds": 0,
											"timezone": "string",
											"sim": "string",
											"status": "string",
											"type": "string",
											"created_at": "string",
											"updated_at": "string"
										}
									}
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error400"
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error404"
								}
							}
						}
					},
					"500": {
						"description": "Internal Server Error",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error500"
								}
							}
						}
					}
				},
				"description": "## Send Message\n\nSend a new SMS message to be sent by your android phone, you can schedule it up to 3 days in the future relative to your definied phone timezone.\n\nyou can also specifiy an unique request id that you can use later to search for this message.\n",
				"operationId": "send-message"
			}
		},
		"/{instance}/heartbeats": {
			"get": {
				"x-hidden": true,
				"tags": ["Heartbeats"],
				"summary": "Heartbeats",
				"parameters": [
					{
						"name": "instance",
						"in": "path",
						"description": "Instance UUID copied from hypersender dashboard",
						"required": true,
						"schema": {
							"type": "string",
							"example": "{{ instance_id }}"
						},
						"examples": {
							"default": {
								"value": "{{ instance_id }}"
							}
						}
					},
					{
						"schema": {
							"type": "string"
						},
						"in": "query",
						"name": "per_page",
						"description": "number of messages per page, max: 50",
						"example": ""
					},
					{
						"schema": {
							"type": "string"
						},
						"in": "query",
						"name": "filter[app_version]",
						"description": "filter by the android application version that was installed on your phone",
						"example": ""
					},
					{
						"schema": {
							"type": "integer"
						},
						"in": "query",
						"name": "filter[battery_level]",
						"description": "filter by percentage of the battery",
						"example": ""
					},
					{
						"schema": {
							"type": "boolean"
						},
						"in": "query",
						"name": "filter[is_charging]",
						"description": "filter by wither the phone was charging or not",
						"example": ""
					},
					{
						"schema": {
							"type": "string"
						},
						"in": "query",
						"name": "filter[local_timestamp]",
						"description": "get heartbeats by the local time of the phone",
						"example": ""
					},
					{
						"schema": {
							"type": "string"
						},
						"in": "query",
						"name": "filter[created_at]",
						"description": "filter by when the heartbeat was created on the system.  ",
						"example": ""
					},
					{
						"schema": {
							"type": "string"
						},
						"in": "query",
						"name": "sort",
						"description": "default: -created_at, you can sort by any date: 'created_at', 'local_timestamp'",
						"example": ""
					},
					{
						"schema": {
							"type": "string"
						},
						"in": "query",
						"name": "include",
						"description": "include the phone object with the heartbeat, possible values: phone",
						"example": ""
					},
					{
						"schema": {
							"type": "string"
						},
						"in": "query",
						"name": "page",
						"description": "when paginating use this property to navigate through pages, example: page=2, page=1 and so on..  ",
						"example": ""
					}
				],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"type": "array",
											"x-stoplight": {
												"id": "azw8l9gqq0f36"
											},
											"items": {
												"$ref": "#/components/schemas/Heartbeat"
											}
										},
										"links": {
											"$ref": "#/components/schemas/PaginationLinks"
										},
										"meta": {
											"$ref": "#/components/schemas/PaginationMeta"
										}
									}
								},
								"examples": {
									"Example 1": {
										"value": {
											"data": [
												{
													"id": "9e05f90c-affd-4e8f-967d-811a19ec575f",
													"phone_id": "9defcf1e-552c-4bef-a843-872edec576ef",
													"battery_level": 96,
													"is_charging": false,
													"local_timestamp": "2025-01-21 18:41:42",
													"app_version": null,
													"created_at": "2025-01-21 18:41:43",
													"updated_at": "2025-01-21 18:41:43"
												}
											],
											"links": {
												"first": "https://beta.hypersender.com/api/sms/v1/9defcf1e-552c-4bef-a843-872edec576ef/heartbeats?per_page=1&page=1",
												"last": "https://beta.hypersender.com/api/sms/v1/9defcf1e-552c-4bef-a843-872edec576ef/heartbeats?per_page=1&page=72",
												"prev": null,
												"next": "https://beta.hypersender.com/api/sms/v1/9defcf1e-552c-4bef-a843-872edec576ef/heartbeats?per_page=1&page=2"
											},
											"meta": {
												"current_page": 1,
												"from": 1,
												"last_page": 72,
												"links": [
													{
														"url": null,
														"label": "&laquo; Previous",
														"active": false
													},
													{
														"url": "https://beta.hypersender.com/api/sms/v1/9defcf1e-552c-4bef-a843-872edec576ef/heartbeats?per_page=1&page=1",
														"label": "1",
														"active": true
													},
													{
														"url": "https://beta.hypersender.com/api/sms/v1/9defcf1e-552c-4bef-a843-872edec576ef/heartbeats?per_page=1&page=2",
														"label": "2",
														"active": false
													},
													{
														"url": "https://beta.hypersender.com/api/sms/v1/9defcf1e-552c-4bef-a843-872edec576ef/heartbeats?per_page=1&page=3",
														"label": "3",
														"active": false
													},
													{
														"url": "https://beta.hypersender.com/api/sms/v1/9defcf1e-552c-4bef-a843-872edec576ef/heartbeats?per_page=1&page=4",
														"label": "4",
														"active": false
													},
													{
														"url": "https://beta.hypersender.com/api/sms/v1/9defcf1e-552c-4bef-a843-872edec576ef/heartbeats?per_page=1&page=5",
														"label": "5",
														"active": false
													},
													{
														"url": "https://beta.hypersender.com/api/sms/v1/9defcf1e-552c-4bef-a843-872edec576ef/heartbeats?per_page=1&page=6",
														"label": "6",
														"active": false
													},
													{
														"url": "https://beta.hypersender.com/api/sms/v1/9defcf1e-552c-4bef-a843-872edec576ef/heartbeats?per_page=1&page=7",
														"label": "7",
														"active": false
													},
													{
														"url": "https://beta.hypersender.com/api/sms/v1/9defcf1e-552c-4bef-a843-872edec576ef/heartbeats?per_page=1&page=8",
														"label": "8",
														"active": false
													},
													{
														"url": "https://beta.hypersender.com/api/sms/v1/9defcf1e-552c-4bef-a843-872edec576ef/heartbeats?per_page=1&page=9",
														"label": "9",
														"active": false
													},
													{
														"url": "https://beta.hypersender.com/api/sms/v1/9defcf1e-552c-4bef-a843-872edec576ef/heartbeats?per_page=1&page=10",
														"label": "10",
														"active": false
													},
													{
														"url": null,
														"label": "...",
														"active": false
													},
													{
														"url": "https://beta.hypersender.com/api/sms/v1/9defcf1e-552c-4bef-a843-872edec576ef/heartbeats?per_page=1&page=71",
														"label": "71",
														"active": false
													},
													{
														"url": "https://beta.hypersender.com/api/sms/v1/9defcf1e-552c-4bef-a843-872edec576ef/heartbeats?per_page=1&page=72",
														"label": "72",
														"active": false
													},
													{
														"url": "https://beta.hypersender.com/api/sms/v1/9defcf1e-552c-4bef-a843-872edec576ef/heartbeats?per_page=1&page=2",
														"label": "Next &raquo;",
														"active": false
													}
												],
												"path": "https://beta.hypersender.com/api/sms/v1/9defcf1e-552c-4bef-a843-872edec576ef/heartbeats",
												"per_page": 1,
												"to": 1,
												"total": 72
											}
										}
									}
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error400"
								}
							}
						}
					},
					"422": {
						"description": "Unprocessable Entity (WebDAV)",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error422"
								}
							}
						}
					},
					"500": {
						"description": "Internal Server Error",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error500"
								}
							}
						}
					}
				},
				"description": "## Heartbeats\n\nIndex heartbeats of the phone sorted by last heartbeat.\n\nYou can filter by various attributes, and this endpoint is paginated.",
				"requestBody": {
					"content": {}
				},
				"operationId": "heartbeats"
			}
		},
		"/{instance}/messages": {
			"get": {
				"x-hidden": true,
				"tags": ["Messages"],
				"summary": "Index Messages",
				"parameters": [
					{
						"name": "instance",
						"in": "path",
						"description": "Instance UUID copied from hypersender dashboard",
						"required": true,
						"schema": {
							"type": "string",
							"example": "{{ instance_id }}"
						},
						"examples": {
							"default": {
								"value": "{{ instance_id }}"
							}
						}
					},
					{
						"schema": {
							"type": "string"
						},
						"in": "query",
						"name": "per_page",
						"description": "number of messages per page, max: 50",
						"example": ""
					},
					{
						"schema": {
							"type": "string"
						},
						"in": "query",
						"name": "filter[request_id]",
						"description": "user defined string that can retrive message by it",
						"example": ""
					},
					{
						"schema": {
							"type": "string"
						},
						"in": "query",
						"name": "filter[message_thread_id]",
						"description": "the thread id of the message",
						"example": ""
					},
					{
						"schema": {
							"type": "string"
						},
						"in": "query",
						"name": "filter[from_phone_number]",
						"description": "message that was sent/recived from phone specified number",
						"example": ""
					},
					{
						"schema": {
							"type": "string"
						},
						"in": "query",
						"name": "filter[to_phone_number]",
						"description": "message that was sent/recivied from phone specified number",
						"example": ""
					},
					{
						"schema": {
							"type": "string"
						},
						"in": "query",
						"name": "filter[content]",
						"description": "search by parts of the message",
						"example": ""
					},
					{
						"schema": {
							"type": "string"
						},
						"in": "query",
						"name": "filter[status]",
						"description": "pending, scheduled, sending, sent, failed, received, delivered, expired, deleted",
						"example": ""
					},
					{
						"schema": {
							"type": "string"
						},
						"in": "query",
						"name": "filter[type]",
						"description": "sent, received, call_missed",
						"example": ""
					},
					{
						"schema": {
							"type": "string"
						},
						"in": "query",
						"name": "filter[delivered_at]",
						"description": "filter by delivery date range down to the minute, comma seprated, example: 2025-01-01 00:00:00,2025-01-01 00:20:00",
						"example": ""
					},
					{
						"schema": {
							"type": "string"
						},
						"in": "query",
						"name": "filter[received_at]",
						"description": "filter by received date range down to the minute, comma seprated, example: 2025-01-01 00:00:00,2025-01-01 00:20:00",
						"example": ""
					},
					{
						"schema": {
							"type": "string"
						},
						"in": "query",
						"name": "filter[expired_at]",
						"description": "filter by expired date range down to the minute, comma seprated, example: 2025-01-01 00:00:00,2025-01-01 00:20:00",
						"example": ""
					},
					{
						"schema": {
							"type": "string"
						},
						"in": "query",
						"name": "filter[failed_at]",
						"description": "filter by failed date range down to the minute, comma seprated, example: 2025-01-01 00:00:00,2025-01-01 00:20:00",
						"example": ""
					},
					{
						"schema": {
							"type": "string"
						},
						"in": "query",
						"name": "filter[schedule_send_at]",
						"description": "filter by when the message will be sent date range down to the minute, comma seprated, example: 2025-01-01 00:00:00,2025-01-01 00:20:00",
						"example": ""
					},
					{
						"schema": {
							"type": "string"
						},
						"in": "query",
						"name": "filter[created_at]",
						"description": "filter by when the message was created on the system. Note: this is not the date of message sent or received.  ",
						"example": ""
					},
					{
						"schema": {
							"type": "string"
						},
						"in": "query",
						"name": "filter[updated_at]",
						"description": "filter by when the message was last updated. ",
						"example": ""
					},
					{
						"schema": {
							"type": "string"
						},
						"in": "query",
						"name": "sort",
						"description": "default: -updated_at, you can sort by any date: 'created_at', 'updated_at', 'delivered_at', 'received_at', 'expired_at', 'failed_at', 'schedule_send_at'",
						"example": ""
					},
					{
						"schema": {
							"type": "string"
						},
						"in": "query",
						"name": "include",
						"description": "include the phone or messageThread object with the message, possible values: phone,messageThread",
						"example": ""
					},
					{
						"schema": {
							"type": "string"
						},
						"in": "query",
						"name": "page",
						"description": "when paginating use this property to navigate through pages, example: page=2, page=1 and so on..  ",
						"example": ""
					}
				],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"type": "array",
											"x-stoplight": {
												"id": "hn0uczei49cnq"
											},
											"items": {
												"$ref": "#/components/schemas/Message"
											}
										},
										"links": {
											"$ref": "#/components/schemas/PaginationLinks"
										},
										"meta": {
											"$ref": "#/components/schemas/PaginationMeta"
										}
									}
								},
								"examples": {
									"Example 1": {
										"value": {
											"data": [
												{
													"id": "9e01dbc1-1428-46de-b847-c5edd6d4c6f6",
													"request_id": "9e01dbc1-14a0-49a7-b22e-248d49b19b37",
													"phone": {
														"id": "9dedf71e-97bf-47eb-8df5-3088a7865603",
														"user_id": "9cbff1d0-6c37-4612-a8bb-6db042991761",
														"phone_number": "+20154244114",
														"name": "Ahmed Nagi SMS",
														"sim": "SIM1",
														"max_send_attempts": 10,
														"message_expiration_seconds": 259200,
														"missed_call_auto_reply_message": null,
														"is_online": false,
														"last_online_at": "2025-01-19 17:36:30",
														"last_offline_at": "2025-01-19 22:48:02",
														"last_message_at": "2025-01-17 20:05:00",
														"last_missed_call_at": "2025-01-17 20:05:00",
														"last_heartbeat_at": "2025-01-19 21:43:43",
														"heartbeat_enabled_at": null,
														"timezone": "GMT+2",
														"created_at": "2025-01-09 20:16:27",
														"updated_at": "2025-01-19 23:48:01"
													},
													"message_thread": {
														"id": "9deeebfa-9925-45d1-8b8d-a7004dda411c",
														"phone_id": "9dedf71e-8f16-439c-9220-489cd2144e0c",
														"last_message_id": "9e01dbc1-1428-46de-b847-c5edd6d4c6f6",
														"from_phone_number": "Vodafone",
														"to_phone_number": "+20154244114",
														"is_archived": false,
														"last_message_content": "2جيجا هدية.ليك منهم 200 ميجا فيسبوك ليومين عشان انت 4G. كلم#221*",
														"last_message_at": "2025-01-19 10:58:44",
														"created_at": "2025-01-10 07:41:08",
														"updated_at": "2025-01-19 17:36:30"
													},
													"message_thread_id": "9deeebfa-9925-45d1-8b8d-a7004dda411c",
													"phone_id": "9dedf71e-97bf-47eb-8df5-3088a7865603",
													"from_phone_number": "Vodafone",
													"to_phone_number": "+20154244114",
													"content": "2جيجا هدية.ليك منهم 200 ميجا فيسبوك ليومين عشان انت 4G. كلم#221*",
													"send_duration": null,
													"schedule_on_phone_at": null,
													"sent_at": null,
													"last_attempted_at": null,
													"delivered_at": null,
													"received_at": "2025-01-19 10:58:44",
													"expired_at": null,
													"schedule_send_at": null,
													"failed_at": null,
													"send_attempt_count": 0,
													"max_send_attempts": 10,
													"failure_reason": null,
													"message_expiration_seconds": 259200,
													"timezone": "GMT+2",
													"sim": "SIM1",
													"status": "received",
													"type": "received_from_mobile",
													"created_at": "2025-01-19 17:36:30",
													"updated_at": "2025-01-19 17:36:30"
												}
											],
											"links": {
												"first": "https://beta.hypersender.com/api/sms/v1/9dedf71e-97bf-47eb-8df5-3088a7865603/messages?per_page=1&include=phone%2CmessageThread&page=1",
												"last": "https://beta.hypersender.com/api/sms/v1/9dedf71e-97bf-47eb-8df5-3088a7865603/messages?per_page=1&include=phone%2CmessageThread&page=74",
												"prev": null,
												"next": "https://beta.hypersender.com/api/sms/v1/9dedf71e-97bf-47eb-8df5-3088a7865603/messages?per_page=1&include=phone%2CmessageThread&page=2"
											},
											"meta": {
												"current_page": 1,
												"from": 1,
												"last_page": 74,
												"links": [
													{
														"url": null,
														"label": "&laquo; Previous",
														"active": false
													},
													{
														"url": "https://beta.hypersender.com/api/sms/v1/9dedf71e-97bf-47eb-8df5-3088a7865603/messages?per_page=1&include=phone%2CmessageThread&page=1",
														"label": "1",
														"active": true
													},
													{
														"url": "https://beta.hypersender.com/api/sms/v1/9dedf71e-97bf-47eb-8df5-3088a7865603/messages?per_page=1&include=phone%2CmessageThread&page=2",
														"label": "2",
														"active": false
													},
													{
														"url": "https://beta.hypersender.com/api/sms/v1/9dedf71e-97bf-47eb-8df5-3088a7865603/messages?per_page=1&include=phone%2CmessageThread&page=3",
														"label": "3",
														"active": false
													},
													{
														"url": "https://beta.hypersender.com/api/sms/v1/9dedf71e-97bf-47eb-8df5-3088a7865603/messages?per_page=1&include=phone%2CmessageThread&page=4",
														"label": "4",
														"active": false
													},
													{
														"url": "https://beta.hypersender.com/api/sms/v1/9dedf71e-97bf-47eb-8df5-3088a7865603/messages?per_page=1&include=phone%2CmessageThread&page=5",
														"label": "5",
														"active": false
													},
													{
														"url": "https://beta.hypersender.com/api/sms/v1/9dedf71e-97bf-47eb-8df5-3088a7865603/messages?per_page=1&include=phone%2CmessageThread&page=6",
														"label": "6",
														"active": false
													},
													{
														"url": "https://beta.hypersender.com/api/sms/v1/9dedf71e-97bf-47eb-8df5-3088a7865603/messages?per_page=1&include=phone%2CmessageThread&page=7",
														"label": "7",
														"active": false
													},
													{
														"url": "https://beta.hypersender.com/api/sms/v1/9dedf71e-97bf-47eb-8df5-3088a7865603/messages?per_page=1&include=phone%2CmessageThread&page=8",
														"label": "8",
														"active": false
													},
													{
														"url": "https://beta.hypersender.com/api/sms/v1/9dedf71e-97bf-47eb-8df5-3088a7865603/messages?per_page=1&include=phone%2CmessageThread&page=9",
														"label": "9",
														"active": false
													},
													{
														"url": "https://beta.hypersender.com/api/sms/v1/9dedf71e-97bf-47eb-8df5-3088a7865603/messages?per_page=1&include=phone%2CmessageThread&page=10",
														"label": "10",
														"active": false
													},
													{
														"url": null,
														"label": "...",
														"active": false
													},
													{
														"url": "https://beta.hypersender.com/api/sms/v1/9dedf71e-97bf-47eb-8df5-3088a7865603/messages?per_page=1&include=phone%2CmessageThread&page=73",
														"label": "73",
														"active": false
													},
													{
														"url": "https://beta.hypersender.com/api/sms/v1/9dedf71e-97bf-47eb-8df5-3088a7865603/messages?per_page=1&include=phone%2CmessageThread&page=74",
														"label": "74",
														"active": false
													},
													{
														"url": "https://beta.hypersender.com/api/sms/v1/9dedf71e-97bf-47eb-8df5-3088a7865603/messages?per_page=1&include=phone%2CmessageThread&page=2",
														"label": "Next &raquo;",
														"active": false
													}
												],
												"path": "https://beta.hypersender.com/api/sms/v1/9dedf71e-97bf-47eb-8df5-3088a7865603/messages",
												"per_page": 1,
												"to": 1,
												"total": 74
											}
										}
									}
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error400"
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error500"
								}
							}
						}
					},
					"422": {
						"description": "Unprocessable Entity (WebDAV)",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error422"
								}
							}
						}
					},
					"500": {
						"description": "Internal Server Error",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error500"
								}
							}
						}
					}
				},
				"description": "## Index Messages\n\nThis endpoint will index all of the messages sent and recevied based on various criteria, including searching my request id and messages attributes, with paging limited to 50 messages per response. Default sort is by last updated_at.",
				"requestBody": {
					"content": {},
					"description": ""
				},
				"operationId": "index-messages"
			}
		},
		"/{instance}/delete-message": {
			"delete": {
				"x-hidden": true,
				"tags": ["Messages"],
				"summary": "Delete Message",
				"parameters": [
					{
						"name": "Accept",
						"in": "header",
						"schema": {
							"type": "string"
						},
						"example": "application/json"
					},
					{
						"name": "messageId",
						"in": "query",
						"schema": {
							"type": "string"
						},
						"example": "463ad57e-c048-430a-85da-36d73d375f0a"
					},
					{
						"name": "instance",
						"in": "path",
						"description": "Instance UUID copied from hypersender dashboard",
						"required": true,
						"schema": {
							"type": "string",
							"example": "{{ instance_id }}"
						},
						"examples": {
							"default": {
								"value": "{{ instance_id }}"
							}
						}
					}
				],
				"responses": {
					"204": {
						"description": "No Content",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {}
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error400"
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error404"
								}
							}
						}
					},
					"500": {
						"description": "Internal Server Error",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error500"
								}
							}
						}
					}
				},
				"description": "## Delete Message\n\nDelete a message from the database and removes the message content from the list of threads.\n",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object"
							},
							"examples": {
								"Example 1": {
									"value": {
										"message": "action performed successfully",
										"status": "success"
									}
								}
							}
						}
					}
				},
				"operationId": "delete-message"
			}
		},
		"/{instance}/message-threads": {
			"get": {
				"x-hidden": true,
				"tags": ["Message threads"],
				"summary": "Message threads",
				"parameters": [
					{
						"name": "Accept",
						"in": "header",
						"schema": {
							"type": "string"
						},
						"example": "application/json"
					},
					{
						"name": "per_page",
						"in": "query",
						"schema": {
							"type": "string"
						},
						"example": "",
						"description": "number of messages per page, max: 50"
					},
					{
						"name": "instance",
						"in": "path",
						"description": "Instance UUID copied from hypersender dashboard",
						"required": true,
						"schema": {
							"type": "string",
							"example": "{{ instance_id }}"
						},
						"examples": {
							"default": {
								"value": "{{ instance_id }}"
							}
						}
					},
					{
						"schema": {
							"type": "string"
						},
						"in": "query",
						"name": "sort",
						"description": "default: -updated_at, you can sort by any date: 'created_at', 'last_message_at', 'updated_at'",
						"example": ""
					},
					{
						"schema": {
							"type": "string"
						},
						"in": "query",
						"name": "filter[last_message_content]",
						"description": "filter by last message content.",
						"example": ""
					},
					{
						"schema": {
							"type": "boolean"
						},
						"in": "query",
						"name": "filter[is_archived]",
						"description": "filter by SMS messages based on their archived status.",
						"example": ""
					},
					{
						"schema": {
							"type": "string"
						},
						"in": "query",
						"name": "filter[last_message_id]",
						"description": "get the thread where the thread is the specified message id",
						"example": ""
					},
					{
						"schema": {
							"type": "string"
						},
						"in": "query",
						"name": "filter[from_or_to_number]",
						"description": "get the thread where the \"from\" or \"to\" of phone number",
						"example": ""
					},
					{
						"schema": {
							"type": "string"
						},
						"in": "query",
						"name": "include",
						"description": "include the phone or messageThread object with the message, possible values: phone, messageThread",
						"example": ""
					}
				],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"x-examples": {
										"Example 1": {
											"id": "9df34332-2070-4cc5-beba-ad21fcf9ff6f",
											"phone_id": "9defcf1e-552c-4bef-a843-872edec576ef",
											"last_message_id": "9e03fc6b-ce90-4399-a472-6b029857e15b",
											"from_phone_number": "WE",
											"to_phone_number": "+201412789476",
											"is_archived": false,
											"last_message_content": "اشترك الآن في أجدع شحنه 26.6 واحصل علي 1,300 وحده تستخدمهم في المكالمات الصوتيه و الانترنت ب 26.6 جنيه صالحه لمدة 14 يوم. للإشتراك اتصل ب #566* او زور تطبيق MyWE",
											"last_message_at": "2025-01-20 18:59:28",
											"created_at": "2025-01-12 11:28:19",
											"updated_at": "2025-01-20 18:59:30"
										}
									},
									"properties": {
										"data": {
											"type": "array",
											"x-stoplight": {
												"id": "o471oxuz9vr8e"
											},
											"items": {
												"$ref": "#/components/schemas/MessageThread"
											}
										},
										"links": {
											"$ref": "#/components/schemas/PaginationLinks"
										},
										"meta": {
											"$ref": "#/components/schemas/PaginationMeta"
										}
									}
								},
								"examples": {
									"Example 1": {
										"value": {
											"data": [
												{
													"id": "9df34184-99e5-43a5-9e6d-371de0344bb9",
													"phone_id": "9defcf1e-552c-4bef-a843-872edec576ef",
													"last_message_id": "9e05ec65-bd9e-42b8-aa18-ddd497b4667e",
													"from_phone_number": "4100",
													"to_phone_number": "+2014398429234",
													"is_archived": false,
													"last_message_content": "مبروك ليك 20 وحدة هدية\r\nرد ب 1 الاّن!\r\nو اشتراك اول يوم علينا\r\nو فرصتك تلعب و تكسب 50,000جنيه\r\nاشترك في GamezZe بـ5جنيه لليوم \r\nرد ب 1 الاّن",
													"last_message_at": "2025-01-21 17:38:41",
													"created_at": "2025-01-12 11:23:38",
													"updated_at": "2025-01-21 18:06:21"
												}
											],
											"links": {
												"first": "https://beta.hypersender.com/api/sms/v1/9defcf1e-552c-4bef-a843-872edec576ef/message-threads?per_page=1&page=1",
												"last": "https://beta.hypersender.com/api/sms/v1/9defcf1e-552c-4bef-a843-872edec576ef/message-threads?per_page=1&page=6",
												"prev": null,
												"next": "https://beta.hypersender.com/api/sms/v1/9defcf1e-552c-4bef-a843-872edec576ef/message-threads?per_page=1&page=2"
											},
											"meta": {
												"current_page": 1,
												"from": 1,
												"last_page": 6,
												"links": [
													{
														"url": null,
														"label": "&laquo; Previous",
														"active": false
													},
													{
														"url": "https://beta.hypersender.com/api/sms/v1/9defcf1e-552c-4bef-a843-872edec576ef/message-threads?per_page=1&page=1",
														"label": "1",
														"active": true
													},
													{
														"url": "https://beta.hypersender.com/api/sms/v1/9defcf1e-552c-4bef-a843-872edec576ef/message-threads?per_page=1&page=2",
														"label": "2",
														"active": false
													},
													{
														"url": "https://beta.hypersender.com/api/sms/v1/9defcf1e-552c-4bef-a843-872edec576ef/message-threads?per_page=1&page=3",
														"label": "3",
														"active": false
													},
													{
														"url": "https://beta.hypersender.com/api/sms/v1/9defcf1e-552c-4bef-a843-872edec576ef/message-threads?per_page=1&page=4",
														"label": "4",
														"active": false
													},
													{
														"url": "https://beta.hypersender.com/api/sms/v1/9defcf1e-552c-4bef-a843-872edec576ef/message-threads?per_page=1&page=5",
														"label": "5",
														"active": false
													},
													{
														"url": "https://beta.hypersender.com/api/sms/v1/9defcf1e-552c-4bef-a843-872edec576ef/message-threads?per_page=1&page=6",
														"label": "6",
														"active": false
													},
													{
														"url": "https://beta.hypersender.com/api/sms/v1/9defcf1e-552c-4bef-a843-872edec576ef/message-threads?per_page=1&page=2",
														"label": "Next &raquo;",
														"active": false
													}
												],
												"path": "https://beta.hypersender.com/api/sms/v1/9defcf1e-552c-4bef-a843-872edec576ef/message-threads",
												"per_page": 1,
												"to": 1,
												"total": 6
											}
										}
									}
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error400"
								}
							}
						}
					},
					"500": {
						"description": "Internal Server Error",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error500"
								}
							}
						}
					}
				},
				"description": "## Message Threads\n\nThis endpoint will index all of the contacts which a phone number has communicated with (threads). with paging limited to 50 messages per response. It will be sorted by updated_at in descending order.\n",
				"requestBody": {
					"content": {}
				},
				"operationId": "message-threads"
			}
		},
		"/{instance}/edit-message-thread": {
			"put": {
				"x-hidden": true,
				"summary": "Edit Message Thread",
				"operationId": "edit-message-thread",
				"parameters": [
					{
						"name": "instance",
						"in": "path",
						"description": "Instance UUID copied from hypersender dashboard",
						"required": true,
						"schema": {
							"type": "string",
							"example": "{{ instance_id }}"
						},
						"examples": {
							"default": {
								"value": "{{ instance_id }}"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/EditMessageThread"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error400"
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error404"
								}
							}
						}
					},
					"500": {
						"description": "Internal Server Error",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error500"
								}
							}
						}
					}
				},
				"description": "## Edit Message Thread\n\nEdit message thread archived status",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"is_archived": {
										"type": "boolean",
										"x-stoplight": {
											"id": "7j9utaiqgoav7"
										},
										"description": "Specifies whether the message thread should be marked as archived."
									},
									"messageThreadId": {
										"type": "string",
										"x-stoplight": {
											"id": "eyek4cihig84l"
										},
										"description": "Specifies the message thread id you want to be archived"
									}
								}
							}
						}
					},
					"description": ""
				},
				"tags": ["Message threads"]
			}
		},
		"/{instance}/delete-message-thread": {
			"delete": {
				"x-hidden": true,
				"tags": ["Message threads"],
				"summary": "Delete Message threads",
				"parameters": [
					{
						"name": "Accept",
						"in": "header",
						"schema": {
							"type": "string"
						},
						"example": "application/json"
					},
					{
						"name": "messageThreadId",
						"in": "query",
						"schema": {
							"type": "string"
						},
						"example": "6ccd5a83-b0cf-4cdf-933e-2a44bf64bdaf"
					},
					{
						"name": "instance",
						"in": "path",
						"description": "Instance UUID copied from hypersender dashboard",
						"required": true,
						"schema": {
							"type": "string",
							"example": "{{ instance_id }}"
						},
						"examples": {
							"default": {
								"value": "{{ instance_id }}"
							}
						}
					}
				],
				"responses": {
					"204": {
						"description": "Successful response",
						"content": {}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error404"
								}
							}
						}
					},
					"500": {
						"description": "Internal Server Error",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error500"
								}
							}
						}
					}
				},
				"description": "## Delete Message threads\n\nDelete a message thread from the database and also deletes all the messages in the thread.\n\n:::warning\n\nDeleting a thread will delete all of the messages related to the thread.\n\n:::",
				"operationId": "delete-message-thread"
			},
			"parameters": [
				{
					"schema": {
						"type": "string"
					},
					"name": "instance",
					"in": "path",
					"required": true
				}
			]
		}
	},
	"components": {
		"securitySchemes": {
			"Authorization": {
				"type": "http",
				"scheme": "bearer"
			}
		},
		"schemas": {
			"responseMessage": {
				"title": "responseMessage",
				"x-stoplight": {
					"id": "5qxaggs6b7dvb"
				},
				"type": "object",
				"properties": {
					"data": {
						"type": "array",
						"x-stoplight": {
							"id": "9fm5b4hg8p1d0"
						},
						"items": {
							"x-stoplight": {
								"id": "uilqp4yjqk2l1"
							},
							"type": "object",
							"properties": {
								"can_be_polled": {
									"type": "boolean",
									"x-stoplight": {
										"id": "b79p175bfsdea"
									}
								},
								"contact": {
									"type": "string",
									"x-stoplight": {
										"id": "dnpx18001uv3j"
									}
								},
								"content": {
									"type": "string",
									"x-stoplight": {
										"id": "o19exr14cwwzg"
									}
								},
								"created_at": {
									"type": "string",
									"x-stoplight": {
										"id": "3mgu2wjjlqblt"
									},
									"format": "date-time"
								},
								"delivered_at": {
									"type": "string",
									"x-stoplight": {
										"id": "f5j25oso0truk"
									},
									"format": "date-time"
								},
								"expired_at": {
									"type": "string",
									"x-stoplight": {
										"id": "1v1rlisvprgid"
									},
									"format": "date-time"
								},
								"failed_at": {
									"type": "string",
									"x-stoplight": {
										"id": "mpsj5mzdazqp9"
									},
									"format": "date-time"
								},
								"failure_reason": {
									"type": "string",
									"x-stoplight": {
										"id": "zf39sx0voyia8"
									}
								},
								"id": {
									"type": "string",
									"x-stoplight": {
										"id": "ok5ocutkdu5ee"
									}
								},
								"last_attempted_at": {
									"type": "string",
									"x-stoplight": {
										"id": "88db7qxurqiz6"
									},
									"format": "date-time"
								},
								"max_send_attempts": {
									"type": "integer",
									"x-stoplight": {
										"id": "bfnxb1awwo562"
									}
								},
								"order_timestamp": {
									"type": "string",
									"x-stoplight": {
										"id": "7z4fjefoqzmy1"
									},
									"format": "date-time"
								},
								"owner": {
									"type": "string",
									"x-stoplight": {
										"id": "ublpv6njgtfro"
									}
								},
								"received_at": {
									"type": "string",
									"x-stoplight": {
										"id": "rn2xedot4n8cj"
									},
									"format": "date-time"
								},
								"request_id": {
									"type": "string",
									"x-stoplight": {
										"id": "8b34cxc6prf6q"
									}
								},
								"request_received_at": {
									"type": "string",
									"x-stoplight": {
										"id": "98dy6xe9p8q72"
									},
									"format": "date-time"
								},
								"scheduled_at": {
									"type": "string",
									"x-stoplight": {
										"id": "7wz38k6rpfrpr"
									},
									"format": "date-time"
								},
								"scheduled_send_time": {
									"type": "string",
									"x-stoplight": {
										"id": "1cylqe0smkha5"
									},
									"format": "date-time"
								},
								"send_attempt_count": {
									"type": "integer",
									"x-stoplight": {
										"id": "7abfa7qp2lt8v"
									}
								},
								"send_time": {
									"type": "integer",
									"x-stoplight": {
										"id": "3qmghhfa27w7m"
									}
								},
								"sent_at": {
									"type": "string",
									"x-stoplight": {
										"id": "zjf67fey9a29i"
									}
								},
								"sim": {
									"type": "string",
									"x-stoplight": {
										"id": "hyht3i475dnk3"
									},
									"description": "SIM is the SIM card to use to send the message\n\nSMS1: use the SIM card in slot 1\nSMS2: use the SIM card in slot 2",
									"default": "used the default communication SIM card"
								},
								"status": {
									"type": "string",
									"x-stoplight": {
										"id": "4j7hxfijp0gnp"
									}
								},
								"updated_at": {
									"type": "string",
									"x-stoplight": {
										"id": "zzhxwswq3z6ls"
									},
									"format": "date-time"
								},
								"user": {
									"type": "object",
									"x-stoplight": {
										"id": "c5smh7qwhi8om"
									},
									"properties": {
										"active_phone_id": {
											"type": "string",
											"x-stoplight": {
												"id": "ecribwpp0omli"
											}
										},
										"api_key": {
											"type": "string",
											"x-stoplight": {
												"id": "obre149597i2n"
											}
										},
										"created_at": {
											"type": "string",
											"x-stoplight": {
												"id": "fsbvnof2vox99"
											},
											"format": "date-time"
										},
										"email": {
											"type": "string",
											"x-stoplight": {
												"id": "wm6w9gf0us0s3"
											},
											"format": "date-time"
										},
										"id": {
											"type": "string",
											"x-stoplight": {
												"id": "ybjgkfdqyo4ot"
											}
										},
										"notification_heartbeat_enabled": {
											"type": "boolean",
											"x-stoplight": {
												"id": "hxc599yenid6x"
											}
										},
										"notification_message_status_enabled": {
											"type": "boolean",
											"x-stoplight": {
												"id": "ol11upnzv71us"
											}
										},
										"notification_webhook_enabled": {
											"type": "boolean",
											"x-stoplight": {
												"id": "cgiv7sv343vcc"
											}
										},
										"subscription_ends_at": {
											"type": "string",
											"x-stoplight": {
												"id": "mlbxx0fqa28bv"
											},
											"format": "date-time"
										},
										"subscription_id": {
											"type": "string",
											"x-stoplight": {
												"id": "2zfmk5mljffya"
											}
										},
										"subscription_name": {
											"type": "string",
											"x-stoplight": {
												"id": "r865b9extdyjp"
											}
										},
										"subscription_renews_at": {
											"type": "string",
											"x-stoplight": {
												"id": "dq6a3bprlggx7"
											},
											"format": "date-time"
										},
										"subscription_status": {
											"type": "string",
											"x-stoplight": {
												"id": "8eurs6hg9648j"
											}
										},
										"timezone": {
											"type": "string",
											"x-stoplight": {
												"id": "gulmvo7ttmqpq"
											}
										},
										"updated_at": {
											"type": "string",
											"x-stoplight": {
												"id": "87gg102lgpgoc"
											},
											"format": "date-time"
										}
									}
								},
								"user_id": {
									"type": "string",
									"x-stoplight": {
										"id": "lx3vevz3pi52g"
									}
								}
							}
						}
					},
					"message": {
						"type": "string",
						"x-stoplight": {
							"id": "ld9caqxe7qn6h"
						}
					},
					"status": {
						"type": "string",
						"x-stoplight": {
							"id": "tv3rhtzguuxiu"
						}
					}
				}
			},
			"Message": {
				"type": "object",
				"properties": {
					"id": {
						"type": "string"
					},
					"request_id": {
						"type": "string"
					},
					"phone": {
						"type": "object",
						"properties": {
							"id": {
								"type": "string"
							},
							"user_id": {
								"type": "string"
							},
							"phone_number": {
								"type": "string"
							},
							"name": {
								"type": "string"
							},
							"sim": {
								"type": "string"
							},
							"max_send_attempts": {
								"type": "integer"
							},
							"message_expiration_seconds": {
								"type": "integer"
							},
							"missed_call_auto_reply_message": {
								"type": "string"
							},
							"is_online": {
								"type": "boolean"
							},
							"last_online_at": {
								"type": "string"
							},
							"last_offline_at": {
								"type": "string"
							},
							"last_message_at": {
								"type": "string"
							},
							"last_missed_call_at": {
								"type": "string"
							},
							"last_heartbeat_at": {
								"type": "string"
							},
							"heartbeat_enabled_at": {
								"type": "string"
							},
							"timezone": {
								"type": "string"
							},
							"created_at": {
								"type": "string"
							},
							"updated_at": {
								"type": "string"
							}
						}
					},
					"message_thread": {
						"type": "object",
						"properties": {
							"id": {
								"type": "string"
							},
							"phone_id": {
								"type": "string"
							},
							"last_message_id": {
								"type": "string"
							},
							"from_phone_number": {
								"type": "string"
							},
							"to_phone_number": {
								"type": "string"
							},
							"is_archived": {
								"type": "boolean"
							},
							"last_message_content": {
								"type": "string"
							},
							"last_message_at": {
								"type": "string"
							},
							"created_at": {
								"type": "string"
							},
							"updated_at": {
								"type": "string"
							}
						}
					},
					"message_thread_id": {
						"type": "string"
					},
					"phone_id": {
						"type": "string"
					},
					"from_phone_number": {
						"type": "string"
					},
					"to_phone_number": {
						"type": "string"
					},
					"content": {
						"type": "string"
					},
					"send_duration": {
						"type": "string"
					},
					"schedule_on_phone_at": {
						"type": "string"
					},
					"sent_at": {
						"type": "string"
					},
					"last_attempted_at": {
						"type": "string"
					},
					"delivered_at": {
						"type": "string"
					},
					"received_at": {
						"type": "string"
					},
					"expired_at": {
						"type": "string"
					},
					"schedule_send_at": {
						"type": "string"
					},
					"failed_at": {
						"type": "string"
					},
					"send_attempt_count": {
						"type": "integer"
					},
					"max_send_attempts": {
						"type": "integer"
					},
					"failure_reason": {
						"type": "string"
					},
					"message_expiration_seconds": {
						"type": "integer"
					},
					"timezone": {
						"type": "string"
					},
					"sim": {
						"type": "string"
					},
					"status": {
						"type": "string"
					},
					"type": {
						"type": "string"
					},
					"created_at": {
						"type": "string"
					},
					"updated_at": {
						"type": "string"
					}
				},
				"x-examples": {
					"Example 1": {
						"id": "9e01dbc1-1428-46de-b847-c5edd6d4c6f6",
						"request_id": "9e01dbc1-14a0-49a7-b22e-248d49b19b37",
						"phone": {
							"id": "9dedf71e-97bf-47eb-8df5-3088a7865603",
							"user_id": "9cbff1d0-6c37-4612-a8bb-6db042991761",
							"phone_number": "+20133131313",
							"name": "Ahmed Nagi SMS",
							"sim": "SIM1",
							"max_send_attempts": 10,
							"message_expiration_seconds": 259200,
							"missed_call_auto_reply_message": null,
							"is_online": false,
							"last_online_at": "2025-01-19 17:36:30",
							"last_offline_at": "2025-01-19 22:48:02",
							"last_message_at": "2025-01-17 20:05:00",
							"last_missed_call_at": "2025-01-17 20:05:00",
							"last_heartbeat_at": "2025-01-19 21:43:43",
							"heartbeat_enabled_at": null,
							"timezone": "GMT+2",
							"created_at": "2025-01-09 20:16:27",
							"updated_at": "2025-01-19 23:48:01"
						},
						"message_thread": {
							"id": "9deeebfa-9925-45d1-8b8d-a7004dda411c",
							"phone_id": "9dedf71e-8f16-439c-9220-489cd2144e0c",
							"last_message_id": "9e01dbc1-1428-46de-b847-c5edd6d4c6f6",
							"from_phone_number": "Vodafone",
							"to_phone_number": "+21388311313",
							"is_archived": false,
							"last_message_content": "2جيجا هدية.ليك منهم 200 ميجا فيسبوك ليومين عشان انت 4G. كلم#221*",
							"last_message_at": "2025-01-19 10:58:44",
							"created_at": "2025-01-10 07:41:08",
							"updated_at": "2025-01-19 17:36:30"
						},
						"message_thread_id": "9deeebfa-9925-45d1-8b8d-a7004dda411c",
						"phone_id": "9dedf71e-97bf-47eb-8df5-3088a7865603",
						"from_phone_number": "Vodafone",
						"to_phone_number": "+203424141333",
						"content": "2جيجا هدية.ليك منهم 200 ميجا فيسبوك ليومين عشان انت 4G. كلم#221*",
						"send_duration": null,
						"schedule_on_phone_at": null,
						"sent_at": null,
						"last_attempted_at": null,
						"delivered_at": null,
						"received_at": "2025-01-19 10:58:44",
						"expired_at": null,
						"schedule_send_at": null,
						"failed_at": null,
						"send_attempt_count": 0,
						"max_send_attempts": 10,
						"failure_reason": null,
						"message_expiration_seconds": 259200,
						"timezone": "GMT+2",
						"sim": "SIM1",
						"status": "received",
						"type": "received_from_mobile",
						"created_at": "2025-01-19 17:36:30",
						"updated_at": "2025-01-19 17:36:30"
					}
				},
				"title": ""
			},
			"MessageThread": {
				"type": "object",
				"properties": {
					"id": {
						"type": "string"
					},
					"phone_id": {
						"type": "string"
					},
					"last_message_id": {
						"type": "string"
					},
					"from_phone_number": {
						"type": "string"
					},
					"to_phone_number": {
						"type": "string"
					},
					"is_archived": {
						"type": "boolean"
					},
					"last_message_content": {
						"type": "string"
					},
					"last_message_at": {
						"type": "string"
					},
					"created_at": {
						"type": "string"
					},
					"updated_at": {
						"type": "string"
					}
				},
				"x-examples": {
					"Example 1": {
						"id": "9df34332-2070-4cc5-beba-ad21fcf9ff6f",
						"phone_id": "9defcf1e-552c-4bef-a843-872edec576ef",
						"last_message_id": "9e03fc6b-ce90-4399-a472-6b029857e15b",
						"from_phone_number": "WE",
						"to_phone_number": "+201478930987",
						"is_archived": false,
						"last_message_content": "اشترك الآن في أجدع شحنه 26.6 واحصل علي 1,300 وحده تستخدمهم في المكالمات الصوتيه و الانترنت ب 26.6 جنيه صالحه لمدة 14 يوم. للإشتراك اتصل ب #566* او زور تطبيق MyWE",
						"last_message_at": "2025-01-20 18:59:28",
						"created_at": "2025-01-12 11:28:19",
						"updated_at": "2025-01-20 18:59:30"
					}
				}
			},
			"EditMessageThread": {
				"type": "object",
				"x-stoplight": {
					"id": "tlnnvr0h1rnez"
				},
				"properties": {
					"id": {
						"type": "string"
					},
					"phone_id": {
						"type": "string"
					},
					"last_message_id": {
						"type": "string"
					},
					"from_phone_number": {
						"type": "string"
					},
					"to_phone_number": {
						"type": "string"
					},
					"is_archived": {
						"type": "boolean"
					},
					"last_message_content": {
						"type": "string"
					},
					"last_message_at": {
						"type": "string"
					},
					"created_at": {
						"type": "string"
					},
					"updated_at": {
						"type": "string"
					}
				},
				"x-examples": {
					"Example 1": {
						"id": "9df34332-2070-4cc5-beba-ad21fcf9ff6f",
						"phone_id": "9defcf1e-552c-4bef-a843-872edec576ef",
						"last_message_id": "9e03fc6b-ce90-4399-a472-6b029857e15b",
						"from_phone_number": "WE",
						"to_phone_number": "+201478930987",
						"is_archived": true,
						"last_message_content": "اشترك الآن في أجدع شحنه 26.6 واحصل علي 1,300 وحده تستخدمهم في المكالمات الصوتيه و الانترنت ب 26.6 جنيه صالحه لمدة 14 يوم. للإشتراك اتصل ب #566* او زور تطبيق MyWE",
						"last_message_at": "2025-01-20 18:59:28",
						"created_at": "2025-01-12 11:28:19",
						"updated_at": "2025-01-20 18:59:30"
					}
				},
				"description": ""
			},
			"Heartbeats": {
				"title": "Heartbeats",
				"x-stoplight": {
					"id": "n6dx9j53nzobo"
				},
				"type": "object",
				"properties": {
					"data": {
						"type": "array",
						"items": {
							"type": "object",
							"properties": {
								"charging": {
									"type": "boolean",
									"x-stoplight": {
										"id": "312pla64n7pbu"
									}
								},
								"id": {
									"type": "string"
								},
								"owner": {
									"type": "string"
								},
								"timestamp": {
									"type": "string",
									"format": "date-time",
									"x-stoplight": {
										"id": "fe3ybnfl26u02"
									}
								},
								"user_id": {
									"type": "string"
								},
								"version": {
									"type": "string",
									"x-stoplight": {
										"id": "y85rkevvcncec"
									}
								}
							}
						}
					},
					"message": {
						"type": "string"
					},
					"status": {
						"type": "string"
					}
				}
			},
			"Heartbeat": {
				"type": "object",
				"properties": {
					"id": {
						"type": "string"
					},
					"phone_id": {
						"type": "string"
					},
					"battery_level": {
						"type": "integer"
					},
					"is_charging": {
						"type": "boolean"
					},
					"local_timestamp": {
						"type": "string"
					},
					"app_version": {
						"type": "string"
					},
					"created_at": {
						"type": "string"
					},
					"updated_at": {
						"type": "string"
					}
				},
				"x-examples": {
					"Example 1": {
						"id": "9e05f90c-affd-4e8f-967d-811a19ec575f",
						"phone_id": "9defcf1e-552c-4bef-a843-872edec576ef",
						"battery_level": 96,
						"is_charging": false,
						"local_timestamp": "2025-01-21 18:41:42",
						"app_version": "v1.3.0",
						"created_at": "2025-01-21 18:41:43",
						"updated_at": "2025-01-21 18:41:43"
					}
				}
			},
			"responseMessageThreads": {
				"title": "responseMessageThreads",
				"x-stoplight": {
					"id": "hjbp2nja27u7h"
				},
				"type": "object",
				"properties": {
					"data": {
						"type": "array",
						"items": {
							"type": "object",
							"properties": {
								"color": {
									"type": "string"
								},
								"contact": {
									"type": "string"
								},
								"created_at": {
									"type": "string",
									"format": "date-time",
									"x-stoplight": {
										"id": "ja8m8rgqqw9ti"
									}
								},
								"id": {
									"type": "string"
								},
								"is_archived": {
									"type": "boolean",
									"x-stoplight": {
										"id": "ay0rthhee246k"
									}
								},
								"last_message_content": {
									"type": "string",
									"x-stoplight": {
										"id": "ieldvp0mqlbes"
									}
								},
								"last_message_id": {
									"type": "string",
									"format": "date-time",
									"x-stoplight": {
										"id": "lucbel7692ro1"
									}
								},
								"order_timestamp": {
									"type": "string",
									"format": "date-time",
									"x-stoplight": {
										"id": "b6055iy6zzfiu"
									}
								},
								"owner": {
									"type": "string"
								},
								"status": {
									"type": "string"
								},
								"updated_at": {
									"type": "string",
									"format": "date-time"
								},
								"user": {
									"type": "object",
									"properties": {
										"active_phone_id": {
											"type": "string"
										},
										"api_key": {
											"type": "string"
										},
										"created_at": {
											"type": "string",
											"format": "date-time"
										},
										"email": {
											"type": "string",
											"format": "date-time"
										},
										"id": {
											"type": "string"
										},
										"notification_heartbeat_enabled": {
											"type": "boolean"
										},
										"notification_message_status_enabled": {
											"type": "boolean"
										},
										"notification_webhook_enabled": {
											"type": "boolean"
										},
										"subscription_ends_at": {
											"type": "string",
											"format": "date-time"
										},
										"subscription_id": {
											"type": "string"
										},
										"subscription_name": {
											"type": "string"
										},
										"subscription_renews_at": {
											"type": "string",
											"format": "date-time"
										},
										"subscription_status": {
											"type": "string"
										},
										"timezone": {
											"type": "string"
										},
										"updated_at": {
											"type": "string",
											"format": "date-time"
										}
									}
								},
								"user_id": {
									"type": "string"
								}
							}
						}
					},
					"message": {
						"type": "string"
					},
					"status": {
						"type": "string"
					}
				}
			},
			"responseError": {
				"title": "responseError",
				"x-stoplight": {
					"id": "3k4j472awn3lu"
				},
				"type": "object",
				"properties": {
					"errors": {
						"type": "string",
						"x-stoplight": {
							"id": "rw2idauwtmv2j"
						}
					},
					"message": {
						"type": "string",
						"x-stoplight": {
							"id": "5rbetqawbxxn7"
						}
					},
					"status": {
						"type": "string",
						"x-stoplight": {
							"id": "ueqvh7touhe34"
						}
					}
				},
				"required": ["errors", "message", "status"]
			},
			"Error422": {
				"title": "Error422",
				"x-stoplight": {
					"id": "zsiw2qimxqq2p"
				},
				"type": "object",
				"properties": {
					"errors": {
						"type": "object",
						"x-stoplight": {
							"id": "rw2idauwtmv2j"
						},
						"description": "This Object contains the key and the message"
					},
					"message": {
						"type": "string",
						"x-stoplight": {
							"id": "5rbetqawbxxn7"
						},
						"example": "The given data was invalid."
					},
					"status": {
						"type": "string",
						"x-stoplight": {
							"id": "ueqvh7touhe34"
						},
						"example": "422"
					}
				},
				"required": ["errors", "message", "status"]
			},
			"Error400": {
				"title": "Error400",
				"x-stoplight": {
					"id": "8swvc1ct1z3h7"
				},
				"type": "object",
				"properties": {
					"errors": {
						"type": "object",
						"x-stoplight": {
							"id": "rw2idauwtmv2j"
						},
						"description": "This Object contains the key and the message"
					},
					"message": {
						"type": "string",
						"x-stoplight": {
							"id": "5rbetqawbxxn7"
						},
						"example": "The given data was invalid."
					},
					"status": {
						"type": "string",
						"x-stoplight": {
							"id": "ueqvh7touhe34"
						},
						"example": "400"
					}
				},
				"required": ["errors", "message", "status"]
			},
			"Error500": {
				"title": "Error500",
				"x-stoplight": {
					"id": "pwoo8am0y1e5j"
				},
				"type": "object",
				"properties": {
					"message": {
						"type": "string",
						"x-stoplight": {
							"id": "5rbetqawbxxn7"
						},
						"example": "Internal Server Error"
					}
				},
				"required": ["message"]
			},
			"Error404": {
				"title": "Error500",
				"x-stoplight": {
					"id": "9j9buxw3w3pig"
				},
				"type": "object",
				"properties": {
					"message": {
						"type": "string",
						"x-stoplight": {
							"id": "5rbetqawbxxn7"
						},
						"example": "Not Found"
					}
				},
				"required": ["message"]
			},
			"PaginationLinks": {
				"type": "object",
				"x-examples": {
					"Example 1": {
						"first": "https://beta.hypersender.com/api/sms/v1/9dedf71e-97bf-47eb-8df5-3088a7865603/messages?include=phone%2CmessageThread&page=1",
						"last": "https://beta.hypersender.com/api/sms/v1/9dedf71e-97bf-47eb-8df5-3088a7865603/messages?include=phone%2CmessageThread&page=2",
						"prev": null,
						"next": "https://beta.hypersender.com/api/sms/v1/9dedf71e-97bf-47eb-8df5-3088a7865603/messages?include=phone%2CmessageThread&page=2"
					}
				},
				"properties": {
					"first": {
						"type": ["string", "null"]
					},
					"last": {
						"type": ["string", "null"]
					},
					"prev": {
						"type": ["string", "null"]
					},
					"next": {
						"type": ["string", "null"]
					}
				}
			},
			"PaginationMeta": {
				"type": "object",
				"properties": {
					"current_page": {
						"type": "integer"
					},
					"from": {
						"type": "integer"
					},
					"last_page": {
						"type": "integer"
					},
					"links": {
						"type": "array",
						"items": {
							"type": "object",
							"properties": {
								"url": {
									"type": "string"
								},
								"label": {
									"type": "string"
								},
								"active": {
									"type": "boolean"
								}
							}
						}
					},
					"path": {
						"type": "string"
					},
					"per_page": {
						"type": "integer"
					},
					"to": {
						"type": "integer"
					},
					"total": {
						"type": "integer"
					}
				},
				"x-examples": {
					"Example 1": {
						"current_page": 1,
						"from": 1,
						"last_page": 2,
						"links": [
							{
								"url": null,
								"label": "&laquo; Previous",
								"active": false
							},
							{
								"url": "https://beta.hypersender.com/api/sms/v1/9dedf71e-97bf-47eb-8df5-3088a7865603/messages?include=phone%2CmessageThread&page=1",
								"label": "1",
								"active": true
							},
							{
								"url": "https://beta.hypersender.com/api/sms/v1/9dedf71e-97bf-47eb-8df5-3088a7865603/messages?include=phone%2CmessageThread&page=2",
								"label": "2",
								"active": false
							},
							{
								"url": "https://beta.hypersender.com/api/sms/v1/9dedf71e-97bf-47eb-8df5-3088a7865603/messages?include=phone%2CmessageThread&page=2",
								"label": "Next &raquo;",
								"active": false
							}
						],
						"path": "https://beta.hypersender.com/api/sms/v1/9dedf71e-97bf-47eb-8df5-3088a7865603/messages",
						"per_page": 50,
						"to": 50,
						"total": 74
					}
				}
			}
		}
	},
	"security": [
		{
			"Authorization": []
		}
	]
}
